.bottom-nav-bar {
  position: fixed;       /* Changed to fixed to always stick to the bottom */
  bottom: 0;             /* Position the nav bar at the bottom of the viewport */
  width: 100%;           /* Full width of the viewport */
  height: 8vh;           /* Increased height of the navbar */
  display: flex;         /* Flexbox for layout */
  justify-content: space-around; /* Space around the items */
  background-color: var(--primary); /* Background color */
  color: var(--text);    /* Text color */
  z-index: 999;          /* Ensure it stays on top of other elements */
}

.bottom-nav-bar a {
  text-decoration: none; /* No underline for links */
  color: inherit;        /* Inherit text color from parent */
  font-weight: bold;     /* Bold font */
  transition: color 0.3s ease-in-out; /* Smooth color transition */
  padding: 1rem;         /* Padding around links */
  display: flex;         /* Flex for centering */
  align-items: center;   /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.bottom-nav-bar a img {
  width: 4vh;            /* Maintain the height and width of images */
  height: 4vh;
}

.bottom-nav-bar a:hover {
  color: var(--text);    /* Change color on hover */
}
