/* components/navigation-bar-bottom.css */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.bottom-nav a {
  color: var(--text);
  text-decoration: none;
  padding: 10px;
}

.bottom-nav img {
  width: 24px;
  height: 24px;
}

.bottom-nav a:hover {
  background-color: var(--accent);
}
