.timeslot {
    width: 300px;
    height: 100px;
  
    border-radius: 10px;
    position: relative;
    left: 30px;
    top: 20px;
    box-shadow: 2px 2px 2px 2px rgb(210, 210, 210);
  }
  .title {
    background-color: #097969;
    width: 300px;
    height: 40px;
    border-radius: 10px 10px 0 0;
  }
  .title p {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
  }
  .content {
    background-color: #ffffff;
    margin-top: -8px;
    height: 60px;
    border-radius: 0 0 10px 10px;
  }
  #calendarImg {
    margin-left: 10px;
    margin-top: 5px;
    width: 40px;
    height: 30px;
  }
  #clockImg {
    width: 40px;
    height: 30px;
    position: relative;
    left: -113px;
    top: 25px;
  }
  .content #day {
    position: relative;
    top: -10px;
    color: #515151;
    font-size: 18px;
  }
  .content #time {
    position: relative;
    top: 14px;
    left: -118px;
    color: #515151;
    font-size: 18px;
  }
  