:root {
    --text: #fefcfb;
    --background: #282828;
    --primary: #097969;
    --secondary: #FDA403;
    --accent: #898121;

    font-family: Inter, sans-serif;
    color: var(--text);
    background-color: var(--background);
}