:root {
    --text: #fefcfb;
    --background: #120a07;
    --primary: #cf9681;
    --secondary: #21120d;
    --accent: #b56345;

    font-family: Inter, sans-serif;
    color: var(--text);
    background-color: var(--background);
}